# macOS system files
.DS_Store

# Ignore temporary office files
~$*

# Ignore raw text files
Ru*.txt

# Ignore cleaned text files
Ru*_clean.txt
Ru*_clean_nostops.txt

# Ignore feature files
Ru*_features.json

# Ignore mfinder input files
Ru*_mfinder_input.txt

# Ignore output files from scripts
*.csv
*.json
*.png
*.pdf
*.docx

# Ignore compiled code or external tools
mfinder_mac/
Presentations/
RuOops/

# Ignore specific output files
Ru*_mfinder_input_OUT.txt
*_OUT.txt